.navbar { min-height: 30px; }
.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: 30px;height: 30px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 30px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
.navbar .navbar-collapse {border-color: #A40303;}
.navbar-fixed-top { border: 0; }

body { padding-top: 30px; }
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.clear {
    clear: both;
}

.addButtonContainer {
    margin-bottom: 20px;
    float: right;
}

.btn-m-small {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.accordion-heading {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.accordion-buttons {
    float: right;
}

.accordion-inner ul li {
    list-style-type: none;
}

.accordion-inner ul li:before {
    content: "# ";
}